html, body {
  height: 100%;
}

.Column {
  overflow: hidden;
  @include clearfix;
}

.Navigation--pc {
  float: left;
  height: 100%;
}

.Main {
  width: calc(100% - 120px);
  float: right;
}

@include mq('sm') {
  .Main {
    width: 100%;
    float: none;
  }
};

.Content {
  opacity: 0;
  transition: opacity ease .4s;

  &.is-show {
    opacity: 1;
  }
}
