.Navigation--pc {
  position: fixed;
  width: 120px;
  background-color: $base-color-white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-collapse: collapse;

  .Navigation__sitelogo {
    @include hide-text;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 75px;
    background-image: url('../images/standalone/common/sitelogo.svg');
  }

  .Navigation__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
  }

  .Navigation__main {
    & > li {
      font-family: $base-font-serif;
      font-weight: bold;
      writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      letter-spacing: .1em;
      position: absolute;
      bottom: 155px;
      left: 50%;
      transform: translate(-50%, 0%);
      & > a {
        display: block;
        padding: 10px 30px;
        @include baseLink;
      }
    }
  }

  .Navigation__sub {
    padding: 0 15px;

    & > li {
      border-top: solid 1px #E8E8E8;

      &:last-of-type {
        border-bottom: solid 1px #E8E8E8;
      }

      & > a {
        display: block;
        padding: 10px 0;
        font-size: rem(14px);
        font-family: $base-font-serif;
        text-align: center;
        @include baseLink;
      }
    }
  }

  .Navigation__sns {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    & a {
      @include hide-text;
      display: block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
    }

    &Facebook {
      background-image: url('../images/standalone/common/ico_facebook.svg')
    }
    &Twitter {
      background-image: url('../images/standalone/common/ico_twitter.svg')
    }
    &Instagram {
      background-image: url('../images/standalone/common/ico_instagram.svg')
    }
  }
}

@include mq('sm') {
  .Navigation--pc {
    display: none;
  }
};
