@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tick {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tick {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin fadeIn($duration, $easing) {
  opacity: 0;
  transition: opacity $duration $easing;
  &.is-show {
    opacity: 1;
  }

  .is-lowerdevice & {
    opacity: 1;
  }
}


/*
@keyframes mainvisual-animation {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  20% {
    opacity: 1;
    transform: scale(1.16); // 1.2 - (0.2 / 5)
  }
  80% {
    opacity: 1;
    transform: scale(1.04); // 1 + (0.2 / 5)
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
*/
@keyframes mainvisual-animation {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
