<!DOCTYPE html>
<html lang="ja">
<%- include('./_layout/_head.ejs', {csspath: '../styles/top.css'}) -%>
<body>

<%- include('./_layout/_header.ejs')-%>
<div class="Content">
  <%- include('./_layout/_navigation.ejs')-%>

  <div class="Main">
    <div class="Main__visual">
      <img src="https://dummyimage.com/1280x800/000/fff" alt="">
    </div>
  </div>
  <div class="Module Module--about">
    <h1 class="Module__heading">銭湯ぐらし</h1>
    <p class="Module__text">“銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない“ちょっとあったかい”コミュニティを築いています。</p>
    <div class="About__image">
        <img src="https://dummyimage.com/900x446/000/fff" alt="">
    </div>
  </div>
</div><!-- /.Contents -->
<script type="text/javascript" src="../scripts/bundle.js"></script>
</body>
</html>
