<% function extend(buf) { %>
<div class="MainVisual">
  <img src="../images/standalone/top/mainvisual.jpg" alt="">
</div>
<div class="Module">
  <h1 class="Module__heading">銭湯ぐらし</h1>
  <p class="Module__text">杉並区高円寺の銭湯「小杉湯」のとなりには、2018年2月に解体が決まっている1軒の風呂なしアパートが建っています。解体までの期間限定で、このアパートを「湯パート」と名づけ、多彩な仲間たちがひとつ屋根の下で暮らしはじめました。</p>
  <div class="Module__image">
      <img src="../images/standalone/top/main_illust.png" alt="">
  </div>
  <a href="./about.html" class="Module__link">銭湯暮らしとは</a>
</div>
<div class="Module">
  <h1 class="Module__heading">銭湯ぐらしの活動</h1>

  <div class="MainMenu">
    <% var menuContents = pages.feature, cnt = 0; %>
    <% for (var i = 0; i < 3; i++) { %>
    <div class="MainMenu__row">
      <% for (var j = 0; j < 3; j++) { %>
        <% var menuContent = menuContents[cnt] %>
        <a href="./feature/<%= menuContent.id %>.html" class="MainMenu__cell">
          <p class="MainMenu__illust" style="background-image: url('../images/standalone/top/menu_<%= menuContent.id %>.png')"></p>
          <p class="MainMenu__text"><%= menuContent.title %></p>
        </a>
        <% cnt++;%>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
<% }
var resource = {
  css: [
    '../styles/common.css',
    '../styles/top.css'
  ],
  js: [
    '../scripts/bundle.js'
  ]};
%>
<% include ./_layout/_base %>
