@import "util";
@import "foundation/base-style";

$photoMainWidthBase: 1280px;
$photoMainHeightBase: 650px;
$photoSubWidthBase: 1280px;
$photoSubHeightBase: 500px;

.Article {

  &__inner {
    width: 800px;
    margin: 0 auto;
    @include mq('md') {
      width: auto;
      margin: 0 20px;
    };
  }

  &__headingWrapper {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__headingLv1 {
    @include baseHeadingLv1;
    font-size: rem(60px); // TODO アドホック

    @include mq('sm') {
      padding: 20px 0;
    };
  }

  &__headingLv2 {
    margin: 30px 0;
    font-family: serif;
    font-size: rem(34px);
    color: $system-color-text;
  }

  &__text {
    @include baseText;
    margin: 60px 0 90px;

    @include mq('sm') {
      margin: 20px 0;
    };

    & + & {
      margin-top: -70px; // TODO: ここびみょう

      @include mq('sm') {
        margin-top: 0;
      };
    }
  }

  &__innerImage {
    margin-bottom: 90px;

    & > img {
      width: 100%;
    }
  }

  &__photoMain,
  &__photoSub {
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__photoMain {
    padding-bottom: percentage($photoMainHeightBase / $photoMainWidthBase);
    @include mq('sm') {
      padding-bottom: 100%;
    };
  }

  &__photoSub {
    padding-bottom: percentage($photoSubHeightBase / $photoSubWidthBase);
    @include mq('sm') {
      padding-bottom: 100%;
    };
  }

  &__illust {
    margin-right: 30px;
    width: 180px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    @include mq('sm') {
      margin-right: 10px;
      width: 100px;
      height: 100px;
    };
  }
}

.Profile {
  margin: 60px 0;

  &__nameJp {
    margin: 15px 0;
    font-size: rem(24px);
    //font-family: "Yu Gothic", YuGothic;
    color: $system-color-text;
  }
  &__nameEn {
    margin: 15px 0;
    font-size: rem(16px);
    //font-family: "Yu Gothic", YuGothic;
    color: $system-color-text;
  }
  &__text {
    margin: 40px 0;
    font-size: rem(14px);
    color: $system-color-text;
    letter-spacing: .1em;
    line-height: (30/18);
  }
}
