@import "util";
@import "foundation/base-style";

.Article {

  &__inner {
    width: 800px;
    margin: 0 auto;
  }

  &__headingWrapper {
    margin-top: 20px;
    display: flex;
  }

  &__headingLv1 {
    @include baseHeadingLv1;
    font-size: rem(60px); // TODO アドホック
  }

  &__headingLv2 {
    margin: 30px 0;
    font-family: serif;
    font-size: rem(34px);
    color: $system-color-text;
  }

  &__text {
    @include baseText;
    margin: 60px 0 90px;
  }

  &__photoMain {
    overflow: hidden;
    max-height: 700px;

    & > img{
      height: auto;
      width: 100%;
    }
  }

  &__photoSub {
    overflow: hidden;
    max-height: 500px;

    & > img{
      height: auto;
      width: 100%;
    }
  }

  &__illust {
    margin-right: 90px;
  }
}

.Profile {
  &__nameJp {
    margin: 15px 0;
    font-size: rem(24px);
    //font-family: "Yu Gothic", YuGothic;
    color: $system-color-text;
  }
  &__nameEn {
    margin: 15px 0;
    font-size: rem(16px);
    //font-family: "Yu Gothic", YuGothic;
    color: $system-color-text;
  }
  &__text {
    margin: 40px 0;
    font-size: rem(18px);
    color: $system-color-text;
    letter-spacing: .1em;
    line-height: (30/18);
  }
}
