@import "util";
@import "foundation/base-style";

$photoMainWidthBase: 1280px;
$photoMainHeightBase: 650px;
$photoSubWidthBase: 1280px;
$photoSubHeightBase: 500px;

@mixin normalLink {
  //display: inline-block;
  //paddding-bottom: 2px;
  border-bottom: dashed 1px #aaa;
  transition: opacity .4s;

  &:link,
  &:visited {
    color: #999;
  }
  &:hover {
    opacity: .6;
  }

}

.MediaArticle {

  &__inner {
    width: 800px;
    margin: 0 auto;
    @include mq('md') {
      width: auto;
      margin: 0 20px;
    };
  }

  &__title {

    &Info {
      text-align: center;
      vertical-align: middle;
      letter-spacing: .1em;
    }

    &Category {
      display: inline-block;
      padding: 4px 6px;
      color: #fff;
      background-color: #ca6492;
      //font-size: rem(10px);
      margin-right: 10px;
      line-height: 1;
    }

    &Date {
      display: inline-block;
      color: #999;
    }

    &SeriesName {
      margin-left: 10px;
      display: inline-block;

      & > a:link,
      & > a:visited {
        @include normalLink;
      }
    }

    &Tags {
      margin-top: 15px;
      font-size: rem(12px);

      & > li {
        display: inline-block;
        margin-right: 2px;

        & > a {
          @include normalLink;

          &:before {
            content: "#";
            color: #999;
          }
        }

      }
    }
  }



  &__headingLv1 {
    @include baseHeadingLv1;
    margin: 50px 0;
    font-size: rem(45px); // TODO アドホック
    //text-align: left;

    @include mq('sm') {
      margin: 20px 0;
      font-size: rem(34px);
    };
  }

  &__headingLv2 {
    margin: 60px 0;
    font-family: $base-font-serif;
    font-size: rem(26px);
    color: $system-color-text;
    line-height: 1.4;

    @include mq('sm') {
      margin: 40px 0 30px;
      font-size: rem(28px);
    };
  }

/*
  &__headingLv3 {
    margin: 40px 0 30px;
    font-size: rem(22px);
    font-family: $base-font-serif;
    color: $system-color-text;
  }
*/

  &__headingLv3 {
    margin: 40px 0 30px;
    font-size: rem(18px);
    //font-family: $base-font-serif;
    color: $system-color-text;
  }

  &__text {
    @include baseText;
    margin: 20px 0 60px;

    @include mq('sm') {
      margin: 20px 0 60px;
    };

    & + & {
      margin-top: -20px;
    }

    & > a {
      @include normalLink;
      line-height: 1.3;
    }

  }

  &__innerImage {
    margin-bottom: 60px;

    & > img {
      width: 100%;
    }
  }

  &__caption {
    font-size: rem(14px);
    color: #999;
  }

  &__photoWrapper {
    overflow: hidden;
  }

  &__photoMain,
  &__photoSub {
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__photoMain {
    padding-bottom: 30%; // TODO: アドホック

    @include mq('sm') {
      padding-bottom: 100%;
      &.is-animate {
        animation: mainvisual-animation 2s linear;
      }
    };
  }

  &__photoSub {
    padding-bottom: percentage($photoSubHeightBase / $photoSubWidthBase);

    @include mq('sm') {
      padding-bottom: 100%;
      transform: scale(1.2);
    };
  }

  &__defList {
    margin: 60px 0;

    &Row {
      @include baseText;
      display: flex;
//      border-bottom: 1px solid #f5f5f5;
      @include mq('sm') {
        display: block;
        margin: 40px 0;
      }

      & > dt,
      & > dd {
        display: block;
        padding: 20px 0;

        @include mq('sm') {
          padding: 0;
        }
      }

      & > dt {
        width: 150px;
        font-weight: bold;
      }
      & > dd {
        flex: 1;
      }
    }
  }

  &__iframeWrapper {
    margin: 60px 0;

    @include mq('sm') {
      & > iframe {
        width: 100%;
      }
    };
  }
}


.Profile {
  margin: 60px 0;

  &__nameSub {
    margin: 15px 0;
    font-size: rem(16px);
    //font-family: "Yu Gothic", YuGothic;
    line-height: 1.4;
    color: $system-color-text;
  }
  &__nameJp {
    margin: 15px 0;
    font-size: rem(24px);
    //font-family: "Yu Gothic", YuGothic;
    color: $system-color-text;
  }
  &__nameEn {
    display: inline-block;
    &::after {
      content: ' ／';
    }
  }
  &__title {
    display: inline-block;
  }
  &__text {
    margin: 40px 0;
    font-size: rem(14px);
    color: $system-color-text;
    letter-spacing: .1em;
    line-height: (30/18);
  }
  &__link {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;

    &::after {
      display: inline-block;
      content: '／';
      margin-left: 10px;
    }

    &:last-child::after {
      display: none;
    }

    & > a {
      display: inline-block;
      font-size: rem(14px);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: left center;
      padding-left: 25px;
      transition: opacity .5s ease;
      color: #4b4b4b;

      &:hover {
        opacity: .7;
      }
    }

    &--facebook > a {
      background-image: url('../images/standalone/common/ico_facebook.svg');
    }
    &--twitter > a {
      background-image: url('../images/standalone/common/ico_twitter.svg');
    }
    &--instagram > a {
      background-image: url('../images/standalone/common/ico_instagram.svg');
    }
    &--web > a {
      background-image: url('../images/standalone/common/ico_web.svg');
    }
  }
}
