@import "util";

html, body {
  height: 100%;
}
.Content {
  height: 100%;
}
.Wrapper {
  min-height: 100%;
}

.Main {
  min-height: 100%;
  width: 100%;

  &__visual {

    img {
      height: auto;
      width: 100%;
    }
  }

  h1 {
    text-align: center;
    font-size: rem(40px)
  }
}
