@import "util";
@import "foundation/base-style";

.SpTopHeader {
  display: none;
  height: 67px;
  background-image: url('../images/standalone/common/sitelogo_sp.svg');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;

  @include mq('sm') {
    display: block;
  }
}

.MainVisual {
  overflow: hidden;

  &__image {
    height: auto;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 66.666%;

    @include mq('sm') {
      padding-bottom: 80%;
      background-size: cover;
    }

    &.is-animate {
      animation: mainvisual-animation 6s linear;
    }

    @include mq('sm') {
      &.is-animate {
        animation: mainvisual-animation 2s linear;
      }
    };
  }
}

.Module {

  &__heading {
    @include baseHeadingLv1;
    margin: 50px 0;
  }

  &__text {
    @include baseText;
    width: 620px;
    margin: 0 auto;

    @include mq('sm') {
      & {
        width: auto;
        margin: 0 20px;
      }
    };
  }

  &__image { //TODO
    margin: 40px auto;
    max-width: 800px;
    & > img {
      height: auto;
      width: 100%;
    }
  }

  &__link {
    display: block;
    width: 240px;
    margin: 40px auto;
    background-color: $base-color-white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 20px 0;
    color: $system-color-text;
    font-family: $base-font-serif;
    font-weight: bold;
    transition: ease .3s;

    &:hover {
      color: $system-color-link-hover;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.MainMenu {

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 80px;
    max-width: 800px;

    @include mq('sm'){
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 0;

      .MainMenu__cell {
        margin-right: 0;
        margin-bottom: 50px;
      }
    };
  }

  &__cell {
    display: block;
//    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__illust,
  &__illustOnCursor {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;

    @include mq('md') {
      width: 150px;
      height: 150px;
    }
  }

  &__illust {
    position: relative;
    margin-bottom: 20px;
  }

  &__illustOnCursor {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity ease .8s;

    &:hover {
      opacity: 1;
    }

    @include mq('sm') {
      opacity: 1;
    };
  }

  &__text {
    @include baseLink;
    font-family: "Kokoro", YuMincho, 'Yu Mincho', $base-font-serif;
    font-size: rem(24px);
    text-align: center;
  }
}
