<!DOCTYPE html>
<html lang="ja">
<%- include('../_layout/_head.ejs', {isChildDirectory: true, csspath: '../../styles/feature.css'}) -%>
<body>

<div class="Content">
  <div class="Column">
    <%- include('../_layout/_navigation.ejs')-%>

    <div class="Main">
      <div class="Article">

        <div class="Article__photoMain">
          <img src="../../images/standalone/feature/tsutaeru/photo_main.jpg" alt="">
        </div>
        <div class="Article__inner">
          <div class="Article__headingWrapper">
            <p class="Article__illust" style="background-image:url('../../images/standalone/feature/tsutaeru/illust.png')"></p>
            <h1 class="Article__headingLv1">伝える銭湯</h1>
          </div>
          <p class="Article__text">
            “銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない”ちょっとあったかい”コミュニティを築いています。“銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない”ちょっとあったかい”コミュニティを築いています。
          </p>
          <h2 class="Article__headingLv2">銭湯を「伝える」ワケ</h2>
          <p class="Article__text">
            “銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない”ちょっとあったかい”コミュニティを築いています。“銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない”ちょっとあったかい”コミュニティを築いています。
          </p>
        </div>
        <div class="Article__photoSub">
          <img src="../../images/standalone/feature/tsutaeru/photo_sub.jpg" alt="">
        </div>
        <div class="Article__inner">
          <h2 class="Article__headingLv2">銭湯を「伝える」ヒト</h2>
          <div class="Profile">
            <div class="Profile__nameJp">宮 早紀江</div>
            <div class="Profile__nameEn">SAKIE MIYA</div>
            <p class="Profile__text">
              “銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない”ちょっとあったかい”コミュニティを築いています。“銭湯ぐらし”は銭湯とその街で、ヒトとヒトとを繋ぐためのプロジェクトです。高円寺の老舗銭湯「小杉湯」とその隣の風呂なしアパートでアートや音楽など様々なジャンルのクリエイターがあつまり、普段の生活にはない”ちょっとあったかい”コミュニティを築いています。
            </p>
          </div>
        </div>

      </DIV>

      <%- INCLUDE('../_LAYOUT/_FOOTER.EJS')-%>
    </DIV>
  </DIV>
</DIV><!-- /.CONTENT -->
</BODY>
</HTML>
