<% const title = 'todo';
function extend(buf) { %>
  <article class="Article">

    <div class="Article__photoWrapper">
      <div class="Article__photoMain js-Article__photoMain" style="background-image:url('../../images/standalone/feature/utau/photo_main.jpg')"></div>
      <%- include ../_layout/_wave %>
    </div>

    <div class="Article__inner">

      <div class="Article__titleWrapper">
        <!-- <p class="Article__titleDate">2017/09/21</p> -->
        <h1 class="Article__headingLv1">思い出野郎Aチーム、ダンスフロアの魔法とロマンを信じる男たち</h1>
        <div class="Article__titleInfo">
          <p class="Article__titleCategory Article__titleCategory--event">できごと</p>
          <p class="Article__titleDate">2017.09.21</p>
          <p class="Article__titleSeriesName"><a href="TOOD">連載:ほげほげ</a></p>
          <ul class="Article__titleTags">
            <li><a href="TODO">タグ1</a></li>
            <li><a href="TODO">タグ2</a></li>
            <li><a href="TODO">タグ3</a></li>
          </ul>
        </div>
      </div>

      <section class="Article__main">
        <h2>プロデューサー・著作権者も救うDubsetとは？</h2>
        <h3>ーー小杉湯フェスはいかがでしたか</h3>
        <p>銭湯でのライブは初めてでしたが、まちがいなく、これまでで一番いい音響でした。建築構造や材料が大きいのかな。建て物は木造で、浴室はタイルですよね。とくに天井が高くてアール型になっているのでよく響くんです。音を反響させるために建てたわけじゃないはずなのに、銭湯と音楽がこんなにも相性がいいなんてものすごい発見ですよね（笑）。この構造のおかげで電気を使う機材が必要ないこともライブの特色として大きい。じつは、ぼくらは2011年に“電気を使わないアコースティックライブ”を下北沢のライブハウスで開催したことがあって。ちょうど3.11が起きた直後でした。そこにお客さんとして来ていたのが、今回の小杉湯フェス企画者の江本祐介くんです。</p>
        <h3>ーーそのときはライブハウスでの電気なしライブですね。開催のきっかけはなんだったのしょう。</h3>
        <p>3.11の後、なんかやらなきゃと思ったんです。とりあえず、ぼくらはミュージシャンだからやっぱりライブしようって。それで、さすがにまだ震災が起きて二、三日くらいだったから節電で「アコギでやろうよ」みたいな軽いノリで。ちょうど「渚」というシングルを出したタイミングで、「渚」のMVが海に入っていく内容だったので、リリースを取り下げたんです。せっかく気合い入れたシングルだったのに悔しい、という気持ちもあったかもしれません。でも、その時の電気なしライブがこうして形を変えてつながっているのはいいですよね。</p>
        <p>ほんとうに、歌うことって何もいらないしすごく本来的な行為です。シャムキャッツは歌を大事にするバンドなので、そのスタイルとも合っていたと思います。ギター1本と歌声があればいい。……と、言い切ってしまうとベースとドラムが悲しみますが。（笑） お客さんも「今日はアコースティックセットだから歌がよく聞こえました」と言ってくれて。今後の野望として、銭湯で電気を使ったライブもしてみたい。ベースもドラムも入れて銭湯でバンドやったら絶対いいと思うんです。そういえば、教会でレコーディングするアーティストもいます。銭湯と教会の設計って、すこし似てませんか天井が高くて、光が差し込んで。もう絶対にいい音が出ますよ。あんまり言いすぎるとライブハウスに怒られちゃうけど（笑）。</p>
        <div class="Article__innerImage">
          <img src="../../images/standalone/feature/tsukuru/photo_main.jpg" alt="">
          <cite class="Article__caption">写真のキャプション</cite>
        </div>
        <p>ほんとうに、歌うことって何もいらないしすごく本来的な行為です。シャムキャッツは歌を大事にするバンドなので、そのスタイルとも合っていたと思います。ギター1本と歌声があればいい。……と、言い切ってしまうとベースとドラムが悲しみますが。（笑） お客さんも「今日はアコースティックセットだから歌がよく聞こえました」と言ってくれて。今後の野望として、銭湯で電気を使ったライブもしてみたい。ベースもドラムも入れて銭湯でバンドやったら絶対いいと思うんです。そういえば、教会でレコーディングするアーティストもいます。銭湯と教会の設計って、すこし似てませんか天井が高くて、光が差し込んで。もう絶対にいい音が出ますよ。あんまり言いすぎるとライブハウスに怒られちゃうけど（笑）。</p>
        <h3>その他の表現例。</h3>
        <p><span style="color: green; font-weight: bold">柏井：</span>閉塞感はめちゃくちゃありましたね。初代「<a href="TODO">CINRA.NET</a>」が2003年からスタートして、法人化したのが2006年。「exPoP!!!!!」が2007年からで、スマホもない、SNSも普及してない時代だったから、同じ思いを抱えている人がいたとしてもそれをどこで共有すればいいのかわからなかった。</p>
        <blockquote>必要な情報だけ抜き出したい・・・といった際に正規表現はとても便利です。</blockquote>
        <p><strong>だから「場所をつくる」というのがすごく重要で、</strong>最初は明確に「これをやろう」というよりも、「とりあえず集まろう」という側面が強かったと思います。<strike>その上で、</strike>その時みんなが抱えていた悩みに応える形で、Webメディアやイベントをつくって、そこでみんなの作品を発表しよう、と進んでいきました。</p>
      </section>

      <%- include ../_layout/_socialButton %>

      <section class="Profile">
        <div class="Profile__column Profile__column--left">
          <div class="Profile__photo" style="background-image: url('https://placehold.jp/150x150.png')"></div>
        </div>
        <div class="Profile__column Profile__column--right">
          <div class="Profile__role">執筆</div>
          <p class="Profile__nameJp">江本 祐介</p>
          <div class="Profile__nameSub">
            <p class="Profile__nameEn">YUSUKE EMOTO</p>
            <p class="Profile__job">ライター</p>
          </div>
          <p class="Profile__text">1988年生まれ。埼玉県出身。<br>バンド、弾き語りの活動を経て現在は自身の楽曲やCM音楽やドラマの劇伴の制作ほかアーティストのREMIXや編曲を行う。 ENJOY MUSIC CLUBではトラックと歌とラップを担当。小杉湯では深夜営業後の浴室清掃バイトを担当。</p>
          <ul class="Profile__links">
            <li class="Profile__link Profile__link--web">
              <a href="" target="_blank">ウェブサイト</a>
            </li>
            <li class="Profile__link Profile__link--twitter">
              <a href="" target="_blank">twitterアカウント</a>
            </li>
            <li class="Profile__link Profile__link--facebook">
              <a href="" target="_blank">facebookアカウント</a>
            </li>
            <li class="Profile__link Profile__link--instagram">
              <a href="" target="_blank">instagramアカウント</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </article>
  <aside class="RelatedArticles">
    <h2>関連記事</h2>
  </aside>
<%
}
function insertMetaTag(buf) { %>
<meta property="og:type" content="article"/>
<% }
const resource = {
  page: {
    id: 'todo',
    title: 'todo',
    meta: {
      url: 'todo',
      description: 'todo'
    }
  },
  css: [
    '../../styles/common.css',
    '../../styles/article.css'
  ],
  js: [
    '../../scripts/lib/jquery-3.2.1.min.js',
    '../../scripts/common.bundle.js',
    '../../scripts/article-detail.bundle.js'
  ],
  insertMetaTagFlag: true
};
%>
<% include ../_layout/_base %>