// color
$base-color-white: #ffffff;
$system-color-text: #4A4A4A;
$system-color-link: #4A4A4A;
$system-color-link-hover: #999999;

$vi-color-blue: #1A274B;
$vi-color-brown: #9B4124;

// spacing
$setting-default-spacing: 16px;
$setting-default-spacing-small: $setting-default-spacing / 2;
$setting-default-spacing-large: $setting-default-spacing * 2;

// radius
$setting-default-boder-radius: 4px;

// font
$base-font-sans-serif: "Yu Gothic", YuGothic, sans-serif;
$base-font-serif: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "Yu Mincho", "YuMincho", serif;
$base-font-yumincho: "Kokoro", YuMincho, 'Yu Mincho', serif;

// box-shadow
$base-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.12);

// category colors
$categoryColors: (
  event: $vi-color-brown,
  news: $vi-color-blue,
  interview: #0b7751
);