// color
$base-color-white: #ffffff;
$system-color-text: #4A4A4A;

// spacing
$setting-default-spacing: 16px;
$setting-default-spacing-small: $setting-default-spacing / 2;
$setting-default-spacing-large: $setting-default-spacing * 2;

// radius
$setting-default-boder-radius: 4px;
