<!DOCTYPE html>
<html lang="ja">
<%- include('./_layout/_head.ejs', {csspath: '../styles/top.css'}) -%>
<body>

<div class="Content">
  <div class="Column">
    <%- include('./_layout/_navigation.ejs')-%>

    <div class="Main">
      <!-- コンテンツ -->
      <%- include('./_layout/_footer.ejs')-%>
    </div>
  </div>
</div><!-- /.Content -->
<script type="text/javascript" src="../scripts/bundle.js"></script>
</body>
</html>
