<div class="Navigation">
  <a href="./">
    <div class="Navigation__sitelogo">銭湯ぐらし</div>
  </a>
  <div class="Navigation__bottom">
    <ul class="Navigation__main">
      <li><a href="./about.html">銭湯ぐらしとは</a></li>
    </ul>
    <ul class="Navigation__sub">
      <li><a href="http://www13.plala.or.jp/Kosugiyu/" target="_blank">小杉湯</a></li>
      <li><a href="TODO" target="_blank">お問い合わせ</a></li>
    </ul>
    <ul class="Navigation__sns">
      <li><a class="Navigation__snsTwitter" href="TODO">twitter</a></li>
      <li><a class="Navigation__snsInstagram" href="TODO">instagram</a></li>
      <li><a class="Navigation__snsFacebook" href="TODO">facebook</a></li>
    </ul>
  </div>
</div>
