<div class="Navigation">
  <div class="Navigation__siteLogo">
    銭湯ぐらし
  </div>
  <ul class="Navigation__main">
    <li>銭湯ぐらしとは</li>
  </ul>
  <ul class="Navigation__sub">
    <li>お問い合わせ</li>
    <li>小杉湯</li>
  </ul>
  <ul class="Navigation__sns">
    <li>twitter</li>
  </ul>
</div>
