<%
const shareUrl = resource.page.meta.url;
const shareTitle = title;
%>
<ul class="SocialButton">
  <li class="SocialButton__item SocialButton__item--twitter js-SocialButton__item--twitter"><a href="https://twitter.com/share?url=<%= encodeURIComponent(shareUrl); %>&text=<%= encodeURIComponent(shareTitle); %>"><span>ツイート</span></a></li>
  <li class="SocialButton__item SocialButton__item--facebook js-SocialButton__item--facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(shareUrl); %>"><span>シェア</span></a></li>
  <li class="SocialButton__item SocialButton__item--line js-SocialButton__item--line"><a href="http://line.me/R/msg/text/?<%= encodeURIComponent(`${shareTitle}　${shareUrl}`); %>"><span>LINEで送る</span></a></li>
</ul>