<div class="SocialButton">
  <div class="SocialButton__cell" style="margin-right: 20px">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="SocialButton__cell" style="width:100px">
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
  </div>
</div>
