.Cell {
  margin-bottom: 40px;
  transition: .5s;

  @include mq('sm') {
    margin-bottom: 20px;
  }

  &:hover {
    opacity: .8;
  }

  @include mq('sm') {
    padding: 20px;
  }

  // TODO: IE Grid対応
  .is-msBrowser & {
    width: 300px;
    float: left;
    margin-right: 20px;
  }

  &__thumbNail {
    width: 300px;
    padding-bottom: (2 / 3) * 100%; // TODO アドホック
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;

    @include mq('sm') {
      width: 100%;
    }
  }

  &__main {
    padding-right: 20px;
  }

  &__category {
    display: inline-block;
    color: #fff;
    margin: 10px 5px 0 0;
    padding: 2px 5px;
    font-size: rem(10px);

    @each $categoryName, $categoryColor in $categoryColors {
      &--#{$categoryName} {
        background-color: $categoryColor;
      }
    }

  }

  &__title {
    margin: 10px 0;
    font-family: $base-font-kokoro;
    color: $system-color-text;
    font-size: rem(22px);
  }

  &__date {
    margin: 5px 0;
    color: #999;
    font-size: rem(14px);
    letter-spacing: .2em;
  }

  &__tags {
    font-size: rem(12px);

    & > li {
      display: inline-block;
      margin-right: 5px;
      letter-spacing: .2em;

      & > a {

        &:link,
        &:visited {
          color: #999;
        }

        &:before {
          content: "#";
        }
      }
    }
  }
}